
.contactPageContainer {
    text-align: center;
    width: 100%;
    position: relative;
    height: calc(100vh - 80px);
    overflow: auto;
    background-image: url('../../../public/images/svg/blob-scene-haikei.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



@media screen and (max-width: 500px) {

    #contactHeader::after {
        display: none;
    }
}

