.frontCover {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    height: calc(100vh - 20px);
}

strong {
    color: red;
}

.frontText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frontText button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 12px 10px;
    margin-top: 10px;
    width: 30%;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}


.frontText button:hover {
    transition: 0.4s;
    background-color: red;
    color: white;
}


#hondaCover {
    max-width: 100%;
}

#coverText {
    font-size: 60px;
    color: black;
    max-width: 420px;
    text-align: center;
}




@media screen and (max-width: 1250px) {

    .frontCover {
        gap: 0px;
    }


    #coverText {
        font-size: 50px;
        width: 360px;
        padding-left: 45px;
        margin-left: 16px;
    }
}

@media screen and (max-width: 1025px) {

    #coverText {
        font-size: 40px;
        width: 360px;
        padding-left: 45px;
        margin-left: 16px;
    }

    #hondaCover {
        width: 60%;
    }

}

@media screen and (max-width: 770px) {


    .frontCover {
        flex-direction: column-reverse;
        margin-top: -100px;
    }

    #coverText {
        text-align: center;
        padding-left: 0;
        margin-top: 10px;
        font-size: 32px;
    }

    #hondaCover {
        width: 75%;
        text-align: center;
    }


    .frontText button {
        width: 25%;
        font-weight: 700;
        font-size: 13px;
    }

}




 