.shortDescription {
    margin-top: 220px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.shortDescription h3 {
    font-size: 40px;
    text-align: center;
}

.stepsContainer {
    display: flex;
    gap: 20px;
    width: 90%;
    margin: 70px auto;
    justify-content: space-around;
    text-align: center;
}


.step {
    text-align: center;
    padding: 10px;
}

.step img {
    text-align: center;
    margin: auto;
}

.step h4 {
    margin-top: 25px;
    margin-bottom: 5px;
}

.step p {
    width: 300px;
    padding: 2px;
}

@media screen and (max-width: 990px) {


    .stepsContainer {
        width: 95%;
    }

    .shortDescription h3 {
        font-size: 35px;
    }

    .step p {
        width: 220px;
    }



}

@media screen and (max-width: 768px) {
    .stepsContainer {
        flex-direction: column;
    }

    .step p {
        margin: auto;
    }
}

@media screen and (max-width: 670px) {
    .shortDescription {
        margin-top: 150px;
    }

}

@media screen and (max-width: 470px) {

    .shortDescription h3 {
        font-size: 25px;
        text-align: center;
        width: 70%;
        margin: auto;
    }

    .step p {
        font-size: 14px;
    }

    .step img {
        width: 35%;

    }

}   


