.navbar {
    --navbar-height: 80px;
    max-width: 100%;
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    overflow: hidden;
    background-color: white;
    position: relative;
    z-index: 3;
}
 

.list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    overflow: hidden;
}

.listActive {
    display: hidden;
    display: flex;
}


li {
    margin: 10px;
    text-decoration: none;
    color: black;
    list-style-type: none;
    display: block;
}


a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    transition: 0.3s;
}

a:hover {
    color: red;
}

.activeNav {
    color: red;
}



img {
    display: block;
    max-width: calc(var(--navbar-height) * 2.5);
    height: auto;
}


.hamburger {
    display: none;
    cursor: pointer;
    color: black;
    
}

.hamburgerActive {
    display: none; 
    margin-right: 10px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}


@media screen and (max-width: 570px) {
    img {
        max-width: calc(var(--navbar-height) * 2);
    }


}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block; 
        margin-right: 10px;
    }

    .navbar {
        overflow: visible;
        position: relative;
        justify-content: space-around;
    }

    .hamburgerActive {
        display: block; 
        margin-right: 10px;
    }

    .hamburgerActive .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburgerActive .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburgerActive .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .list {
        position: absolute;
        left: -100%;
        top: 78px;
        width: 100%;
        transition: 0.3s ease-in;
        flex-direction: column;
        margin: 0;
        overflow: hidden;
        z-index: 2;

    }


    .listActive {
        position: absolute;
        left: 0;
        top: 78px;
        transition: 0.3s ease-out;
        width: 100%;
        text-align: center;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;

    }

    .listActive li {
        width: 100%;
        text-align: center;
        margin-bottom: 8px;

    }
    
    .list li {
        width: 100%;
        text-align: center;
        margin-bottom: 8px;
    }


}

@media screen and (min-width: 2500px) {

    .navbar {
        height: 100px;
    }

    a {
        font-size: 22px;
    }

    .list {
        width: 400px;
    }

}