
.employeeContainer {
    width: 25%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 150px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 4.5px hsl(0deg 0% 0% / 0.43);
    margin: 40px auto;
    position: relative;
    overflow: hidden;
}

.employeeContainer img {
    width: 60%;
    height: auto;
    border-radius: 50%;
    margin: 0 auto 20px;
    border: 2px solid #F85E62;
}

#moreInfo {
    padding: 10px;
    position: absolute;
    bottom: -90%;
    transition: 0.4s ease-in-out;
    color: white;
    background-color: rgb(15, 15, 15, 0.9);
}


.employeeContainer:hover #moreInfo {
    bottom: 0;
}

@media screen and (max-width: 925px) {

    .employeeContainer {
        width: 40%;
    }

    #moreInfo {
        bottom: -100%;
    }
    
}

@media screen and (max-width: 515px) {

    #moreInfo p {
        font-size: 12px;
    }

    .employeeContainer {
        width: 60%;
    }
}
