.carPageContainer h2 {
    text-align: center;
}

.carPageContainer {
    margin-top: 70px;
}


.carPageContainerModal {
   opacity: 0.8; 
   margin-top: 70px;
   text-align: center;
}


@media screen and (max-width: 650px) {
    
    .carPageContainer h2 {
        width: 80%;
        margin: auto;
    }
}


