html {
  box-sizing: border-box;
  font-family: 'Poppins';
  background-color: rgb(247, 247, 247);

}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: rgb(247, 247, 247);
  height: 100vh;
}
